{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block page_title %}
{% trans "LabManager Employee" %}
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}

{% if employee %}
    <p> {{employee.user.first_name }}</p>
{% endif %}

{% if team_leader %}
    {%for t in team_leader%}
        <p> Team : {{t.name}} / {{t.nb_mate}}</p>
    {% endfor %}
{% endif %}

{% if team_part %}
    {%for t in team_part%}
       <p> participant in {{t.team.name}} / {{t.team.leader.user.first_name}} / {{t.team.nb_mate}}</p>
    {% endfor %}
{% endif %}

{% endblock %}


{% block js %}
{% endblock %}