{% extends 'base.html'%}
{% load i18n %}
{% load static %}

{% block content %}
<div class="card">
    <div class="col chart_card" id="c_chart">
        <canvas id="canvas">this is canvas</canvas>
    </div>
</div>
{% endblock %}
{% block js_load %}
<script type='text/javascript' src="{% static 'chart/chart.min.js' %}"></script>
<script type='text/javascript' src="{% static 'chart/chartjs-adapter-date-fns.bundle.min.js' %}"></script>


<script>

const data = {
  labels: [{{ data.labels|join:"," }}], //{%for d in data.labels %}{{d|date:'Y-m-d'}},{%endfor%}],
  datasets: [{
    label: 'atest',
    data: [{{ data.values|join:"," }}], //{%for d in data.values %}{{d}},{%endfor%}],
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

$( document ).ready(function(){
  var ctx = document.getElementById('canvas').getContext('2d');
  new Chart(ctx , {
    type: "{{type}}",
    data: data, 
    options: {
      responsive: true,
      scales: {
        x: {
          type:'time',
          time: {
            displayFormats: {
                quarter: 'MMM YYYY'
            }
        }
        }
      }
    }
  });
})




</script>

   {% endblock %}    
